<div class="main-container" [class.title-padding-top]="path!='signup'">
    <div *ngIf="overlay" class="widget-box-overlay">
        <i class="ace-icon loading-icon fa fa-spinner fa-pulse fa-3x fa-fw white" style="top: 50%;"></i>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="center">
                    <h1>
                        <i class="ace-icon fa fa-leaf yellow"></i>
                        <span class="red"> ระบบ </span>
                        <span class="green" id="id-text2"> Login </span>
                    </h1>
                    <img *ngIf="path!='signup'" src="assets/images/logo-moph.png" alt="สำนักงานสาธารณสุขจังหวัดชัยภูมิ"
                        style="width: 80px;">
                    <h4 class="blue" id="id-company-text">&copy; Chaiyaphum Provincial Health Office</h4>
                </div>
                <div [class.login-container]="path!='signup'">
                    <div class="space-6"></div>
                    <div class="position-relative">
                        <app-sign-in *ngIf="path=='signin'"></app-sign-in>
                        <app-sign-up *ngIf="path=='signup'"></app-sign-up>
                        <app-forgot *ngIf="path=='forgot'"></app-forgot>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
</div>