<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="ace-icon fa fa-sign-in green"></i>
                กรุณากรอกข้อมูลเพื่อเข้าสู่ระบบ
            </h4>
            <div class="space-6"></div>
            <form enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input [(ngModel)]="signIn.username" name="username" id="username" type="text"
                                class="form-control" placeholder="Username" autofocus required />
                            <i class="ace-icon fa fa-user"></i>
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            <input [(ngModel)]="signIn.password" name="password" id="password" type="password"
                                class="form-control" placeholder="Password" required />
                            <i class="ace-icon fa fa-lock"></i>
                        </span>
                    </label>

                    <div class="space"></div>

                    <div class="clearfix">
                        <label class="inline">
                            <input type="checkbox" class="ace" />
                            <span class="lbl"> จดจำฉัน</span>
                        </label>

                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                            <i class="ace-icon fa fa-key"></i>
                            <span class="bigger-110">เข้าสู่ระบบ</span>
                        </button>
                    </div>

                    <div class="space-4"></div>
                </fieldset>
            </form>
            <div class="space-6"></div>
        </div><!-- /.widget-main -->
        <div class="toolbar clearfix">
            <div>
                <a routerLink="/forgot" class="forgot-password-link">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    ฉันลืมรหัสผ่าน
                </a>
            </div>
            <div>
                <a routerLink="/signup" class="user-signup-link">
                    ลงทะเบียนใหม่
                    <i class="ace-icon fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.login-box -->